<div>
    <nav>
        <div id="navbarSupportedContent">
            <ul >
                <li>
                    <a href="/">Agregar producto</a>
                </li>
                <li >
                    <a href="/productos">Listado de productos</a>
                </li>
            </ul>
        </div>
    </nav>
</div>