<div>
    {{#each productLista}}
    <div>
        <img src="{{thumbnail}}" alt="Imagen de {{title}}">
        <div>
            <h5>{{title}}</h5>
            <p>Precio: $ {{price}}</p>
        </div>
    </div>
    {{/each}}
</div>